<FluentCard Height="100%" MinimalStyle Style="--fill-color: #3D3D3D; max-width: fit-content">
    <h4>
        @Value
    </h4>
    
    @Label
</FluentCard>

@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string Label { get; set; }
}