<div class="card">
    <p-dataView [value]="totalBlogs" [paginator]="true" [rows]="3" filterBy="title" [sortField]="sortField" [sortOrder]="-1" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between gap-3">
                <span class="text-xl text-900 font-semibold">Articles</span>
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortField" placeholder="Sort by" styleClass="w-full md:w-15rem"></p-dropdown>
            </div>
        </ng-template>
        
        <ng-template let-blogs pTemplate="gridItem">
            <div class="grid grid-nogutter">
                <div class="col-12 md:col-4" *ngFor="let blog of blogs">
                    <app-blog-list-card [blog]="blog"></app-blog-list-card>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<div class="card">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="font-bold text-5xl text-900 mb-3">Recent Articles</div>
        <div class="text-700 text-xl line-height-3 mb-5">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <div class="grid nogutter">
            <div class="col-12 lg:col-4 p-4">
                <div class="border-top-3 border-blue-600"></div>
                <div class="text-blue-600 font-medium my-2">Animals</div>
                <div class="text-900 font-medium text-xl line-height-3 mb-4">Why Earth's most beloved creatures are headed toward extinction</div>
                <div class="font-sm text-700 line-height-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </div>
                <div class="flex mt-4">
                    <p-avatar image="assets/demo/images/avatar/circle/avatar-f-1.png" shape="circle"></p-avatar>
                    <div class="ml-2">
                        <div class="text-xs font-bold text-900 mb-1">Anna Miles</div>
                        <div class="text-xs flex align-items-center text-700">
                            <i class="pi pi-calendar mr-1 text-xs"></i>
                            <span>Apr 9, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4 p-4">
                <div class="border-top-3 border-pink-600"></div>
                <div class="text-pink-600 font-medium my-2">Oxygen</div>
                <div class="text-900 font-medium text-xl line-height-3 mb-4">Only one-third of tropical rainforests remain intact, study says </div>
                <div class="font-sm text-700 line-height-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </div>
                <div class="flex mt-4">
                    <p-avatar image="assets/demo/images/avatar/circle/avatar-f-2.png" shape="circle"></p-avatar>
                    <div class="ml-2">
                        <div class="text-xs font-bold text-900 mb-1">Arlene Miles</div>
                        <div class="text-xs flex align-items-center text-700">
                            <i class="pi pi-calendar mr-1 text-xs"></i>
                            <span>Apr 9, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4 p-4">
                <div class="border-top-3 border-orange-600"></div>
                <div class="text-orange-600 font-medium my-2">Nature</div>
                <div class="text-900 font-medium text-xl line-height-3 mb-4">Does planting a tree really offset your carbon footprint?</div>
                <div class="font-sm text-700 line-height-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </div>
                <div class="flex mt-4">
                    <p-avatar image="assets/demo/images/avatar/circle/avatar-f-3.png" shape="circle"></p-avatar>
                    <div class="ml-2">
                        <div class="text-xs font-bold text-900 mb-1">Diane Miles</div>
                        <div class="text-xs flex align-items-center text-700">
                            <i class="pi pi-calendar mr-1 text-xs"></i>
                            <span>Apr 9, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
