<div class="text-xl text-900 mb-4 font-bold mt-8">Post a Comment</div>

<div class="mb-3 p-fluid">
    <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input type="text" pInputText placeholder="Name" />
    </span>
</div>
<div class="mb-3 p-fluid">
    <span class="p-input-icon-left">
        <i class="pi pi-envelope"></i>
        <input type="text" pInputText placeholder="Email" />
    </span>
</div>
<div class="mb-3 p-fluid">
    <textarea rows="6" pInputTextarea placeholder="Your comment"></textarea>
</div>
<div class="flex justify-content-end">
    <button pButton pRipple label="Post Comment"></button>
</div>