<FluentCard Height="100%">
    <h4>
        @Value
    </h4>
    
    @Label
</FluentCard>

@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string Label { get; set; }
}