
<div class="grid">
    <div class="col-12 md:col-4">
        <div class="card relative h-6rem border-round-xl p-3">
            <span class="text-sm font-medium line-height-1">
                CONVERSATION RATE
            </span>
            <div class="flex justify-content-between">
                <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                        style="
                            background-color: #fc6161;
                            box-shadow: 0px 6px 20px rgba(252, 97, 97, 0.3);
                        ">
                        <i class="pi pi-arrow-down w-2rem"></i>
                        <span class="line-height-2">0.6%</span>
                    </div>
                    <div class="line-height-4 text-4xl">0.81%</div>
                </div>
            </div>
            <img class="absolute" style="bottom: 14px; right: 12px"
                src="assets/demo/images/ecommerce-dashboard/rate.svg" />
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card relative h-6rem border-round-xl p-3">
            <span class="text-sm font-medium line-height-1">
                AVG. ORDER VALUE
            </span>
            <div class="flex justify-content-between">
                <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                        style="
                            margin-right: 12px;
                            background-color: #0bd18a;
                            box-shadow: 0px 6px 20px rgba(11, 209, 138, 0.3);
                        ">
                        <i class="pi pi-arrow-up w-2rem"></i>
                        <span class="line-height-2">4,2%</span>
                    </div>
                    <div class="line-height-4 text-4xl">$306.2</div>
                </div>
            </div>
            <img class="absolute" style="bottom: 14px; right: 12px"
                src="assets/demo/images/ecommerce-dashboard/value.svg" />
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card relative h-6rem border-round-xl p-3">
            <span class="text-sm font-medium line-height-1">
                ORDER QUANTITY
            </span>
            <div class="flex justify-content-between">
                <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                        style="
                            background-color: #00d0de;
                            box-shadow: 0px 6px 20px rgba(0, 208, 222, 0.3);
                        ">
                        <i class="pi pi-minus w-2rem"></i>
                        <span class="line-height-2">2,1%</span>
                    </div>
                    <div class="line-height-4 text-4xl">1,620</div>
                </div>
            </div>
            <img class="absolute" style="bottom: 14px; right: 12px"
                src="assets/demo/images/ecommerce-dashboard/quantity.svg" />
        </div>
    </div>

    <div class="col-12 md:col-8">
        <div class="card widget-visitor-graph">
            <div class="card-header line-height-4">
                <span>Unique visitor graph</span>
                <p-dropdown [options]="visitorYear" [(ngModel)]="selectedVisitorYear" optionLabel="name" (onChange)="
                        changeVisitorChart($event); visitor.refresh()
                    "></p-dropdown>
            </div>

            <div class="graph-content grid mt-4">
                <div class="col-12 md:col-6">
                    <h2>{{ growth }}</h2>
                    <h6 class="mt-3">MRR GROWTH</h6>
                    <p class="text-color-secondary">
                        Measure how fast you’re growing mothly recurring
                        revenue. <a href="#"
                            class="text-primary hover:text-primary-400  transition-duration-200">Learn more</a>
                    </p>
                </div>
                <div class="col-12 md:col-6">
                    <h2>{{ avgCustomer }}</h2>
                    <h6 class="mt-3">AVG. MRR/CUSTOMER</h6>
                    <p class="text-color-secondary">
                        The revenue generated per account on a monthly or
                        yearly basis. <a href="#"
                            class="text-primary hover:text-primary-400 transition-duration-200">Learn more</a>
                    </p>
                </div>
            </div>

            <div class="graph">
                <h6 class="mt-4">Revenue</h6>

                <p-chart #visitor type="bar" [data]="visitorChart" [options]="visitorChartOptions"
                    id="visitor-chart"></p-chart>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-4">
        <div class="card p-0">
            <div class="timeline-header p-3 flex justify-content-between align-items-center">
                <p class="m-0">Transaction history</p>
                <div class="header-icons">
                    <i class="pi pi-refresh ml-2"></i>
                    <i class="pi pi-filter ml-2"></i>
                </div>
            </div>
            <div class="timeline-content pb-3">
                <p-timeline [value]="timelineEvents" styleClass="custom-timeline py-0 px-3">
                    <ng-template pTemplate="marker" let-event>
                        <span
                            class="custom-marker border-circle p-1 w-2rem h-2rem flex justify-content-center align-items-center"
                            [style.backgroundColor]="event.iconColor">
                            <i [ngClass]="event.icon"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content" let-event>
                        <div class="flex align-items-center justify-content-between">
                            <p class="m-0">{{ event.transaction }}</p>
                            <h6 class="m-0" [style.color]="event.amountColor">
                                {{ event.amount }}
                            </h6>
                        </div>
                        <span class="text-sm text-color-secondary">{{ event.date }}</span>
                    </ng-template>
                </p-timeline>
            </div>
            <div
                class="timeline-footer border-top-1 surface-border	p-3 flex align-items-center justify-content-center">
                <a href="#" class="text-primary hover:text-primary-400 transition-duration-200">View all
                    transactions <i class="pi pi-arrow-down"></i></a>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-4">
        <div class="card">
            <div class="font-medium line-height-4">Country distrubutions</div>
            <div class="country-graph">
                <div class="flex justify-content-center">
                    <p-chart type="doughnut" id="country-chart" [data]="countryChart"
                        [options]="countryChartOptions" [style]="{ width: '75%' }"></p-chart>
                </div>
            </div>
            <div class="country-content">
                <ul class="m-0 p-0 border-none outline-none list-none">
                    <li class="flex justify-content-between align-items-center py-2 border-bottom-1 surface-border">
                        <div class="flex justify-content-between align-items-center">
                            <div class="w-2rem h-2rem border-round mr-2" style="
                                    background-color: var(--cyan-400);
                                    box-shadow: 0px 0px 10px
                                        rgba(0, 208, 222, 0.3);
                                "></div>
                            <span>United States of America</span>
                        </div>
                        <span>25%</span>
                    </li>
                    <li class="flex justify-content-between align-items-center py-2 border-bottom-1 surface-border">
                        <div class="flex justify-content-between align-items-center">
                            <div class="w-2rem h-2rem border-round mr-2" style="
                                background-color: var(--purple-400);
                                    box-shadow: 0px 0px 10px
                                        rgba(135, 62, 254, 0.3);
                                "></div>
                            <span>China</span>
                        </div>
                        <span>20%</span>
                    </li>
                    <li class="flex justify-content-between align-items-center py-2 border-bottom-1 surface-border">
                        <div class="flex justify-content-between align-items-center">
                            <div class="w-2rem h-2rem border-round mr-2" style="
                        background-color: var(--red-400);
                                    box-shadow: 0px 0px 10px
                                        rgba(252, 97, 97, 0.3);
                                "></div>
                            <span>Japan</span>
                        </div>
                        <span>17%</span>
                    </li>
                    <li class="flex justify-content-between align-items-center py-2 border-bottom-1 surface-border">
                        <div class="flex justify-content-between align-items-center">
                            <div class="w-2rem h-2rem border-round mr-2" style="
                                    background-color: var(--yellow-400);
                                    box-shadow: 0px 0px 10px
                                        rgba(238, 229, 0, 0.3);
                                "></div>
                            <span>Australia</span>
                        </div>
                        <span>15%</span>
                    </li>
                    <li class="flex justify-content-between align-items-center py-2 border-bottom-1 surface-border">
                        <div class="flex justify-content-between align-items-center">
                            <div class="w-2rem h-2rem border-round mr-2" style="
                                        background-color: var(--pink-400);
                                        box-shadow: 0px 0px 10px
                                        rgba(236, 77, 188, 0.3);
                                "></div>
                            <span>India</span>
                        </div>
                        <span>10%</span>
                    </li>
                    <li class="flex justify-content-between align-items-center py-2 border-bottom-1 surface-border">
                        <div class="flex justify-content-between align-items-center">
                            <div class="w-2rem h-2rem border-round mr-2" style="
                                        background-color: var(--blue-400);
                                    box-shadow: 0px 0px 10px
                                        rgba(15, 139, 253, 0.3);
                                "></div>
                            <span>Rusian Federation</span>
                        </div>
                        <span>8%</span>
                    </li>
                    <li class="flex justify-content-between align-items-center py-2 border-bottom-1 surface-border">
                        <div class="flex justify-content-between align-items-center">
                            <div class="w-2rem h-2rem border-round mr-2" style="background-color: var(--gray-400)"></div>
                            <span>Others</span>
                        </div>
                        <span>5%</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-8">
        <div class="card">
            <div class="card-header line-height-4">
                <span>Montly revenue</span>
                <p-dropdown [options]="revenueMonth" [(ngModel)]="selectedRevenueMonth" optionLabel="name"
                    (onChange)="
                        changeRevenueChart($event); revenue.refresh()
                    "></p-dropdown>
            </div>

            <div class="graph">
                <p-chart #revenue type="line" id="revenue-chart" [data]="revenueChart"
                    [options]="revenueChartOptions"></p-chart>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-8">
        <div class="card widget-table">
            <div class="card-header line-height-4 mb-3">
                <span>Yearly win</span>
                <p-dropdown [options]="orderYear" [(ngModel)]="selectedOrderYear" optionLabel="name"
                    (onChange)="recentSales($event)"></p-dropdown>
            </div>
            <p-table #dt [value]="customersTable" [(selection)]="selectedCustomers1" dataKey="id"
                styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="representative.name">
                            <div class="flex justify-content-between align-items-center">
                                Agent
                                <p-sortIcon field="representative.name"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="country.name">
                            <div class="flex justify-content-between align-items-center">
                                Country
                                <p-sortIcon field="country.name"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="date">
                            <div class="flex justify-content-between align-items-center">
                                Date
                                <p-sortIcon field="date"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="balance">
                            <div class="flex justify-content-between align-items-center">
                                Balance
                                <p-sortIcon field="balance"></p-sortIcon>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr class="p-selectable-row">
                        <td>
                            <span class="p-column-title">Representative</span>
                            <img [alt]="customer.representative.name" src="assets/demo/images/avatar/{{
                                    customer.representative.image
                                }}" width="24" style="vertical-align: middle" />
                            <span class="image-text" style="
                                    margin-left: 0.5em;
                                    vertical-align: middle;
                                ">{{ customer.representative.name }}</span>
                        </td>
                        <td>
                            <span class="p-column-title">Country</span>
                            <span class="image-text" style="
                                    margin-left: 0.5em;
                                    vertical-align: middle;
                                ">{{ customer.country.name }}</span>
                        </td>
                        <td>
                            <span class="p-column-title">Date</span>
                            {{ customer.date | date : "MM/dd/yyyy" }}
                        </td>
                        <td>
                            <span class="p-column-title">Balance</span>
                            {{
                            customer.balance
                            | currency : "USD" : "symbol"
                            }}
                        </td>
                        <td style="text-align: center">
                            <button pButton type="button" class="p-button-text text-color"
                                icon="pi pi-copy"></button>
                            <button pButton type="button" class="p-button-text text-color"
                                icon="pi pi-pencil"></button>
                            <button pButton type="button" class="p-button-text text-color"
                                icon="pi pi-ellipsis-h"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col-12 md:col-4">
        <div class="card widget-performance">
            <div class="header line-height-4 font-medium">
                <span>Quarterly win</span>
                <p class="text-sm text-color-secondary">Top performances</p>
            </div>
            <div class="content">
                <ul class="p-0 m-0 list-none">
                    <li class="py-3 px-0 flex align-items-center">
                        <p-avatar image="assets/demo/images/ecommerce-dashboard/ann.png" pBadge value="1"
                            styleClass="mr-2 w-3rem h-3rem"></p-avatar>
                        <div class="ml-2">
                            <div class="text-xl text-color">$94,815</div>
                            <div class="text-sm text-color-secondary">Ann Vaccaro</div>
                        </div>
                    </li>
                    <li class="py-3 px-0 flex align-items-center">
                        <p-avatar image="assets/demo/images/ecommerce-dashboard/miracle.png" pBadge value="2"
                            styleClass="mr-2 w-3rem h-3rem"></p-avatar>
                        <div class="ml-2">
                            <div class="text-xl text-color">$78,985</div>
                            <div class="text-sm text-color-secondary">Miracle Aminoff</div>
                        </div>
                    </li>
                    <li class="py-3 px-0 flex align-items-center">
                        <p-avatar image="assets/demo/images/ecommerce-dashboard/kaylynn.png" pBadge value="3"
                            styleClass="mr-2 w-3rem h-3rem"></p-avatar>
                        <div class="ml-2">
                            <div class="text-xl text-color">$53,611</div>
                            <div class="text-sm text-color-secondary">Kaylynn Geidt</div>
                        </div>
                    </li>
                    <li class="py-3 px-0 flex align-items-center">
                        <p-avatar image="assets/demo/images/ecommerce-dashboard/angel.png" pBadge value="4"
                            styleClass="mr-2 w-3rem h-3rem"></p-avatar>
                        <div class="ml-2">
                            <div class="text-xl text-color">$25,338</div>
                            <div class="text-sm text-color-secondary">Angel Rosser</div>
                        </div>
                    </li>
                    <li class="py-3 px-0 flex align-items-center">
                        <p-avatar image="assets/demo/images/ecommerce-dashboard/cristofer.png" pBadge value="5"
                            styleClass="mr-2 w-3rem h-3rem"></p-avatar>
                        <div class="ml-2">
                            <div class="text-xl text-color">$15,989</div>
                            <div class="text-sm text-color-secondary">Cristofer Mango</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-8">
        <div class="card widget-customer-graph">
            <div class="header">
                <div class="flex justify-content-between line-height-4">
                    <span>Weekly new customers</span>
                    <p-dropdown [options]="customerYear" [(ngModel)]="selectedCustomerYear" optionLabel="name"
                        (onChange)="
                            changeCustomerChart($event); customer.refresh()
                        "></p-dropdown>
                </div>
                <p class="text-sm text-color-secondary">
                    Number of new customer are listed by weekly
                </p>
            </div>

            <div class="content grid p-nogutter mt-3">
                <div class="col-12 md:col-6 grid">
                    <div class="col-12 md:col-4 flex align-items-center">
                        <h2 class="mb-0">{{ customerMax }}</h2>
                        <p class="ml-2 text-color-secondary text-sm line-height-1">MAX</p>
                    </div>
                    <div class="col-12 md:col-4 flex align-items-center">
                        <h2 class="mb-0">{{ customerMin }}</h2>
                        <p class="ml-2 text-color-secondary text-sm line-height-1">MIN</p>
                    </div>
                    <div class="col-12 md:col-4 flex align-items-center">
                        <h2 class="mb-0" style="color: #fc6161">{{ customerAvg }}</h2>
                        <p class="ml-2 text-color-secondary text-sm line-height-1">AVARAGE</p>
                    </div>
                </div>
            </div>

            <p-chart #customer type="bar" id="customer-chart" [data]="customerChart"
                [options]="customerChartOptions"></p-chart>
        </div>
    </div>

    <div class="col-12 lg:col-4">
        <div class="card widget-target">
            <div class="card-header">
                <span>Weekly target</span>
            </div>
            <div class="content">
                <h3 class="mt-3 mb-0">1232 Users</h3>
                <span class="text-sm line-height-1 text-green-500">%3.5 <i class="pi pi-arrow-up text-sm"></i><span
                        class="text-color-secondary"> than last week</span></span>
            </div>
            <div class="mt-4 relative text-red-500 flex flex-column justify-content-between"
                style="min-height: 235px;">
                <div class="item  mb-3">
                    <span class="block mb-1">51%</span>
                    <p-progressBar [value]="51" [showValue]="false" color="#FC6161"></p-progressBar>
                    <span class="day bottom-0 text-color-secondary block mt-1">Thu</span>
                </div>
                <div class="item mb-3">
                    <span class="block mb-1">68%</span>
                    <p-progressBar color="#FC6161" [value]="68" [showValue]="false"></p-progressBar>
                    <span class="day bottom-0 text-color-secondary block mt-1">Fri</span>
                </div>
                <div class="item mb-3">
                    <span class="block mb-1">74%</span>
                    <p-progressBar color="#FC6161" [value]="74" [showValue]="false"></p-progressBar>
                    <span class="day bottom-0 text-color-secondary block mt-1">Sat</span>
                </div>
                <div class="item mb-3">
                    <span class="block mb-1">61%</span>
                    <p-progressBar color="#FC6161" [value]="61" [showValue]="false"></p-progressBar>
                    <span class="day bottom-0 text-color-secondary block mt-1">Sun</span>
                </div>
                <div class="item success mb-3">
                    <span class="block mb-1 text-green-500">100%</span>
                    <p-progressBar color="#0BD18A" [value]="100" [showValue]="false"
                    [ngStyle]="{boxShadow: '0px 0px 10px rgb(11 209 138 / 30%)'}"></p-progressBar>
                    <span class="day bottom-0 text-color-secondary block mt-1">Mon</span>
                </div>
                <div class="item mb-3">
                    <span class="block mb-1">70%</span>
                    <p-progressBar color="#FC6161" [value]="70" [showValue]="false"></p-progressBar>
                    <span class="day bottom-0 text-color-secondary block mt-1">Tue</span>
                </div>
                <div class="item today mb-3">
                    <span class="block mb-1">22%</span>
                    <p-progressBar color="#FC6161" [value]="22" [showValue]="false"></p-progressBar>
                    <span class="day bottom-0 text-color block mt-1">Today</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 widget-customer-carousel">
        <h6>Top customers</h6>
        <p-carousel [value]="customerCarousel" [numVisible]="4" [numScroll]="1" [circular]="true"
            [responsiveOptions]="carouselResponsiveOptions" indicatorsContentClass="hidden">
            <ng-template let-customer pTemplate="item">
                <div class="card mr-4">
                    <div class="customer-item-content text-center">
                        <div class="mb-6">
                            <img src="assets/demo/images/ecommerce-dashboard/{{
                                    customer.image
                                }}.png" [alt]="customer.image" class="product-image" />
                        </div>
                        <div>
                            <h4>{{ customer.user }}</h4>
                            <h5 class="mt-0 mb-3 text-color-secondary">{{ customer.value }}</h5>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>
