@page "/"

<PageTitle>TF2 Jump</PageTitle>
<HeadContent>
    <meta name="description" content="The premiere website for everything rocket jump and sticky jump related. This is a massive data driven site, utilising a complex ELT pipeline. Data sources include the Tempus2.xyz API, Tempus STV demo files (.dem), Tempus Archive on YouTube and much more."/>
</HeadContent>

<div>
    <FluentGrid>
        <FluentGridItem>
            <RecentRecordsWidget />
        </FluentGridItem>
        <FluentGridItem>
            <PopularServersWidget />
        </FluentGridItem>
    </FluentGrid>
</div>