@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<FluentMenuItem OnClick="@(() => NavigationManager.NavigateTo(Href))">
    <a class="menu-link" href="@Href">
        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="6" VerticalAlignment="VerticalAlignment.Center">
            @if (Icon is not null)
            {
                <FluentIcon Value="@(Icon)"
                            Color="Color.Neutral"/>
            }
            @Text
        </FluentStack>
    </a>
</FluentMenuItem>

@code
{
    [Parameter, EditorRequired]
    public required string Href { get; set; }

    [Parameter, EditorRequired]
    public required string Text { get; set; }

    [Parameter]
    public Icon? Icon { get; set; }
}
