<div class="profile-avatar">
    <FluentButton Appearance="Appearance.Stealth">
    <FluentPersona Image="https://avatars.akamai.steamstatic.com/fe41ab7218a289ccbb1428930cfffad883bcea14.jpg"/>
    </FluentButton>
</div>