<div>
    <button pButton pRipple label="Compose New" class="mb-5 w-full p-button-outlined" routerLink="/apps/mail/compose"></button>
    <div class="overflow-auto">
        <ul class="flex flex-row md:flex-column gap-1 md:gap-2 list-none m-0 p-0 overflow-auto">
            <li pRipple *ngFor="let item of items; let i = index" class="cursor-pointer select-none p-3 transition-duration-150 border-round flex align-items-center justify-content-center md:justify-content-start md:flex-1 flex-auto"  
                [ngClass]="{'bg-primary' : url === item.routerLink, 'hover:surface-hover': url !== item.routerLink}" (click)="navigate(item)">
                <i [class]="item.icon || ''" class="md:mr-3 text-600 transition-duration-150 text-lg" [ngClass]="{'text-primary-50' : url === item.routerLink}"></i>
                <span class="text-900 font-medium hidden md:inline" [ngClass]="{'text-primary-50' : url === item.routerLink}">{{item.label}}</span>
                <span *ngIf="item.badge" class="ml-auto text-sm font-semibold bg-primary-50 text-primary-900 px-2 py-1 hidden md:inline" style="border-radius: 2rem">{{item.badge}}</span>
            </li>
        </ul>
    </div>
</div>