<div class="card">
    <div class="flex justify-content-between align-items-center mb-5">
        <span class="text-900 text-xl font-semibold">Task List</span>
        <button pButton pRipple class="p-button-outlined font-semibold" icon="pi pi-plus" label="Create Task" (click)="showDialog()"></button>
    </div>
    <app-task-list [taskList]="todo" title="ToDo"></app-task-list>
    <app-task-list [taskList]="completed" title="Completed"></app-task-list>
</div>

<app-create-task></app-create-task>