@page "/leaderboard/maps/{MapName}"

@using TempusApi.Models.Responses
@using TempusApi.Enums

@inject ITempusClient TempusClient

@rendermode InteractiveWebAssembly

<div>
    @if (_loading)
    {
        <FluentProgressRing/>
    }
    else
    {
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="6">
            <MapHeader Map="_map" @bind-Class="_selectedClass"/>

            <FluentDivider Orientation="Orientation.Horizontal" Role="@DividerRole.Presentation"/>

            <FluentStack Orientation="Orientation.Horizontal">
                <MapZoneSelector Map="_map" @bind-SelectedZone="_selectedZone" />
                
                <FluentCard Style="padding: 0">
                    <MapRunsTable Runs="@(_selectedClass is Class.Soldier ? _map.SoldierRuns : _map.DemomanRuns)" Class="_selectedClass"/>
                </FluentCard>
                
                <FluentCard Style="padding: 0">
                    <MapWorldRecordHistory />
                </FluentCard>
            </FluentStack>
        </FluentStack>
    }
</div>

@code
{
    [Parameter] public required string MapName { get; set; }
    
    private bool _loading;

    private FullMapOverview2? _map;

    private Class _selectedClass = Class.Soldier;
    private SelectedZone _selectedZone = new(ZoneType.Map, 1);

    protected override async Task OnParametersSetAsync()
    {
        _map = null;
        _loading = true;

        try
        {
            _map = await TempusClient.GetFullMapOverview2Async(MapName);
        }
        finally
        {
            _loading = false;
        }
    }
}