<div class="card">
    <p-table #dt [value]="customers" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['name','country.name','representative.name']">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Global Search" class="w-full" />
                </span>
                <button (click)="navigateToCreateUser()" pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-user-plus" label="Add New"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" class="white-space-nowrap" style="width:25%">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="country.name" class="white-space-nowrap" style="width:25%">Country <p-sortIcon field="country.name"></p-sortIcon></th>
                <th pSortableColumn="date" class="white-space-nowrap" style="width:25%">Join Date <p-sortIcon field="date"></p-sortIcon></th>
                <th pSortableColumn="representative.name" class="white-space-nowrap" style="width:25%">Created By <p-sortIcon field="representative.name"></p-sortIcon></th>
                <th pSortableColumn="activity" class="white-space-nowrap" style="width:25%">Activity <p-sortIcon field="activity"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{customer.name}}</td>
                <td>
                    <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" class="w-2rem mr-2">
                    <span class="image-text">{{customer.country.name}}</span>
                </td>
                <td>{{customer.date | date: 'MM/dd/yyyy'}}</td>
                <td>
                    <div class="inline-flex align-items-center">
                        <img [alt]="customer.representative.name" src="assets/demo/images/avatar/{{customer.representative.image}}" class="w-2rem mr-2" />
                        <span>{{customer.representative.name}}</span>
                    </div>
                </td>
                <td><p-progressBar [value]="customer.activity" [showValue]="false" [style]="{'height':'.5rem'}"></p-progressBar></td>
            </tr>
        </ng-template>
    </p-table>
</div>