<div *ngIf="content" class="p-0 m-0">
    <div class="surface-section grid grid-nogutter formgrid flex-column md:flex-row gap-6 p-5 border-round">
        <div class="col">
            <label for="to" class="block text-900 font-semibold mb-3">To</label>
            <span class="p-input-icon-left w-full" style="height: 3.5rem;">
                <i class="pi pi-user" style="left: 1.5rem;"></i>
                <input id="to" type="text" pInputText class="w-full pl-7 text-900 font-semibold" style="height: 3.5rem" [(ngModel)]="content.from"/>
            </span>
        </div>
        <div class="col">
            <label for="Subject" class="block text-900 font-semibold mb-3">Subject</label>
            <span class="p-input-icon-left w-full" style="height: 3.5rem;">
                <i class="pi pi-pencil" style="left: 1.5rem;"></i>
                <input id="subject" type="text" pInputText placeholder="Subject" class="w-full pl-7 text-900 font-semibold" style="height: 3.5rem" [(ngModel)]="content.title" />
            </span>
        </div>
        <div *ngIf="displayMessage" class="border-1 surface-border border-round p-4" [innerHTML]="content.message"></div>
        <div class="col-12 field">
            <span class="surface-ground cursor-pointer border-round px-2" (click)="toggleMessage()" [pTooltip]="displayMessage ? 'Hide content' : 'Show content'"><i class="pi pi-ellipsis-h"></i></span>
            <p-editor [style]="{'height':'250px'}" styleClass="mt-3" [(ngModel)]="newMail.message"></p-editor>
        </div>
    </div>
    <div class="flex column-gap-3 justify-content-end p-5 border-top-1 surface-border">
        <button pButton pRipple type="button" class="p-button-outlined" icon="pi pi-image"></button>
        <button pButton pRipple type="button" class="p-button-outlined" icon="pi pi-paperclip"></button>
        <button pButton pRipple type="button" class="p-button-primary h-3rem" icon="pi pi-send" label="Send" (click)="sendMail()"></button>
    </div>
</div>